#parallax-slider-index.parallax-slider.simple-fade-eff
  %ul.baseList
    %li{data: {"preview" => "#{image_path 'slider-img1.jpg'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        = t('index.parallax.slider_caption1')
    %li{data: {"preview" => "#{image_path 'slider-img2.jpg'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        = t('index.parallax.slider_caption2')
    %li{data: {"preview" => "#{image_path 'slider-img3.jpg'}", "thumb-url" => "", "ulr-link" => ""}}
      .slider_caption
        = t('index.parallax.slider_caption3')


.content-holder.clearfix
  .container
    .row
      .span12
        .block-with-image.orientation-to-left
          .bwi-content-block
            %h2
              What we do?
            %p
              Aleks Rent is a bike rentals shop in El Parallel, Barcelona's Broadway. A district with
              a quality programme of performances embracing a variety of musical genres that provides an addition
              to the offerings of the other theaters.
            %p
              We rent bikes, scooters, electric scooters and quads using a simple philosophy, work fast and good and with reasonable prices.

