- content_for :custom_js do
  = javascript_include_tag "rentals"

- content_for :custom_body_class do
  = "rentals page-template-page-Portfolio2Cols-filterable"

.content-holder.clearfix
  .container
    .row
      .span12
        .row
          .span12
            %section.title-section
              %h1.title-header
                = t('header.nav.menu_item_rentals')
        #content.row
          .span12
            .row
              .span6
                .portfolio_item
                  .portfolio_item_holder
                    .thumbnail.thumbnail__portfolio
                      %a.image-wrap{href: '/images/rentals/classic_bike.jpg'}
                        = image_tag 'rentals/classic_bike_thumbnail.jpg'
                        %span.zoom-icon
                    .caption.caption__portfolio
                      %h3
                        In faucibus
                      %p.excerpt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris…
              .span6
                .portfolio_item
                  .portfolio_item_holder
                    .thumbnail.thumbnail__portfolio
                      %a.image-wrap{href: '/images/rentals/shabby_chic_bike.jpg'}
                        = image_tag 'rentals/shabby_chic_bike_thumbnail.jpg'
                        %span.zoom-icon
                    .caption.caption__portfolio
                      %h3
                        In faucibus
                      %p.excerpt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris…

            .row
              .span6
                .portfolio_item
                  .portfolio_item_holder
                    .thumbnail.thumbnail__portfolio
                      %a.image-wrap{href: '/images/rentals/electric_scooter.jpg'}
                        = image_tag 'rentals/electric_scooter_thumbnail.jpg', :class => 'thumbnail_center'
                        %span.zoom-icon
                    .caption.caption__portfolio
                      %h3
                        In faucibus
                      %p.excerpt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris…
              .span6
                .portfolio_item
                  .portfolio_item_holder
                    .thumbnail.thumbnail__portfolio
                      %a.image-wrap{href: '/images/rentals/scooter_50cc.jpg'}
                        = image_tag 'rentals/scooter_50cc.jpg'
                        %span.zoom-icon
                    .caption.caption__portfolio
                      %h3
                        In faucibus
                      %p.excerpt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris…

            .row
              .span6
                .portfolio_item
                  .portfolio_item_holder
                    .thumbnail.thumbnail__portfolio
                      %a.image-wrap{href: '/images/rentals/scooter_125cc.jpg'}
                        = image_tag 'rentals/scooter_125cc_thumbnail.jpg'
                        %span.zoom-icon
                    .caption.caption__portfolio
                      %h3
                        In faucibus
                      %p.excerpt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris…
              .span6
                .portfolio_item
                  .portfolio_item_holder
                    .thumbnail.thumbnail__portfolio
                      %a.image-wrap{href: '/images/rentals/quad_50cc.jpg'}
                        = image_tag 'rentals/quad_50cc_thumbnail.jpg',  :class => 'thumbnail_center'
                        %span.zoom-icon
                    .caption.caption__portfolio
                      %h3
                        In faucibus
                      %p.excerpt
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit massa vel mauris…